<nav class="navbar navbar-light-grey navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a ng-click="model.editWidget(model.widget)">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand"
               href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}">
                Edit HTML Widget
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <div ng-model="model.widget.text"
         text-angular
         ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],['indent','outdent'],['html']]">
    </div>

    <label for="delete-widget-html"></label>
    <a id="delete-widget-html"
       ng-click="model.deleteWidget()"
       class="btn btn-block btn-danger">
        Delete
    </a>
</div>

<nav class="navbar navbar-light-grey navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}/">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>